CREATE TABLE IF NOT EXISTS tickets (
    id SERIAL PRIMARY KEY,
    ticket_id VARCHAR(50) UNIQUE NOT NULL,
    passenger_name VARCHAR(100),
    source VARCHAR(50),
    destination VARCHAR(50),
    fare DECIMAL(10,2),
    issued_by VARCHAR(50),
    issued_at TIMESTAMP DEFAULT NOW(),
    payment_mode VARCHAR(20) DEFAULT 'CASH',
    bus_number VARCHAR(20)
);
